---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/




/* from google */
$heebo                      : Heebo, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei Light", sans-serif;
$gochi-hand                 : Gochi Hand, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
$song-myung                 : Song Myung, serif;

/* from adobe */
//
$kozuka : kozuka-gothic-pro, sans-serif;
$minion : minion-3, serif;
/* generic */
$helle : "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


// Some Style Variables
$primary-color: #36465f;
$secondary-color: #464646;
$error: #de3535;
$success: #d5f5d7;

$max-width: 960px;

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

$font-size: 16px;
// $font-family: Helvetica, sans-serif;
// $alt-font-family: monospace;
// $font-color: #353535;
// $font-color: #666666;
$font-color: black;

/* Social Icons */
$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #d34836 !default;
$snapchat: #fffc00 !default;
$pinterest:	#cb2027 !default;
$google: #dd4b39 !default;

/* Used to use heebo for global and song myung for the serif*/

$global-font-family         : Helvetica;
$header-font-family         : Helvetica;

// $global-font-family         : Times;
// $header-font-family         : Times;

body {	max-width: 700px;
	margin: 30px auto;
	padding: 0 30px;
	color: #666666;

	// color: $font-color;

				}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: normal;
}

h3 { 		text-align: center;
	vertical-align: center;
}

h4 {
	font-size: 24px;
	text-align: left;
	line-height: 1.1;
	margin: 0px 0px 2px;
}

h5 {
	font-size: 16px;
	text-align: left;
	line-height: 1.1;
	margin: 0px 0;
}

table {
border-spacing: 0px 8px;
}


/* unvisited link */
a.pub:link {
	color: $font-color;
	text-decoration: none;
}

/* visited link */
a.pub:visited {
	color: $font-color;
	text-decoration: none;
}

/* mouse over link */
a.pub:hover {
	color: blue;
	text-decoration: none;
	// background-color: white;

}

/* selected link */
a.pub:active {
	color: $font-color;
	text-decoration: none;
}




/* unvisited link */
a.hm:link {
	color: $font-color;
	// text-decoration: none;
}

/* visited link */
a.hm:visited {
	color: $font-color;
	// text-decoration: none;
}

/* mouse over link */
a.hm:hover {
	color: blue;
	// text-decoration: none;
	// background-color: white;

}

/* selected link */
a.hm:active {
	color: $font-color;
	// text-decoration: none;
}

.year { text-align : left;
				vertical-align: top;
				font-family: $global-font-family;
				//font-weight: 100;
				color: $font-color;
				margin: 10px 0px;
				text-align: left;
				font-size: 14px;
				line-height: 1.1;
				// width : 55px;
			}
			.figu { text-align : left;
							vertical-align: center;
							font-family: $global-font-family;
							font-weight: 100;
							color: $font-color;
							margin: 10px 0px;
							text-align: center;
							font-size: 12px;
							line-height: 1.1;
							padding: 10px 10px;
							// width : 55px;
						}



// for the cv photo
.responsive_face {
			  width: 95%;
			  max-width: 400px;
			  height: auto;
				// padding : 5px 5px;
			}
			.responsive2 {
				width: 100%;
				object-fit: contain;
				max-height: 180px;
				padding : 5px;
			}
